@model FronEnd.Models.MetodoPagoViewModel

@{
    ViewData["Title"] = "Agregar Método";
}

<h1 id="titulo">@ViewData["Title"]</h1>

<h4>Nuevo Método de Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TipoMetodo" class="control-label">Tipo de Método</label>
                <input asp-for="TipoMetodo" class="form-control" placeholder="Ej: Tarjeta de crédito" />
                <span asp-validation-for="TipoMetodo" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Agregar" class="btn btn-outline-primary me-3" />
                <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}