@model FronEnd.Models.MetodoPagoViewModel

@{
    ViewData["Title"] = "Eliminar Método de Pago";
}

<h1>Eliminar Método de Pago</h1>

<h3>¿Está seguro que desea eliminar este método de pago?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMetodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMetodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMetodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoMetodo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMetodo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>