@model FronEnd.Models.ReseñaViewModel
@inject FronEnd.Helpers.Interfaces.IUsuarioHelper _usuarioHelper
@inject FronEnd.Helpers.Interfaces.IPlatilloHelper _platilloHelper

@{
    ViewData["Title"] = "Detalles de la Reseña";
    var usuario = _usuarioHelper.GetUsuario(Model.IdUsuario);
    var platillo = _platilloHelper.GetPlatillo(Model.IdPlatillo);
}

<!-- Incluir Font Awesome y definir estilos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .star-rating{
        direction: ltr;
    }
    .star-rating .fa-star {
      color: #ccc;
      font-size: 1.5em;
    }
    .star-rating .fa-star.checked {
      color: orange;
    }
</style>

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <h4>Reseña #@Model.IdReseña</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Usuario:</dt>
            <dd class="col-sm-9">@usuario?.Nombre</dd>

            <dt class="col-sm-3">Platillo:</dt>
            <dd class="col-sm-9">@platillo?.Nombre</dd>

            <dt class="col-sm-3">Calificación:</dt>
            <dd class="col-sm-9">
                <div class="star-rating">
                    @for (var i = 1; i <= 5; i++)
                    {
                        if (i <= Model.Calificacion)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </div>
            </dd>

            <dt class="col-sm-3">Comentario:</dt>
            <dd class="col-sm-9">@Model.Comentario</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.IdReseña" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
    </div>
</div>
