@model FronEnd.Models.CarritoViewModel

@{
    ViewData["Title"] = "Compra confirmada";
}


<h2>¡Gracias por tu compra!</h2>
<p>Tu pedido ha sido procesado con éxito. Te enviaremos un correo con los detalles.</p>
