@model FronEnd.Models.DetallePedidoViewModel

@{
    ViewData["Title"] = "Eliminar Detalle";
}

<h1 id="titulo">@ViewData["Title"]</h1>

<h3>¿Está seguro que desea eliminar este detalle de pedido?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID Detalle
        </dt>
        <dd class="col-sm-10">
            @Model.IdDetallePedido
        </dd>

        <dt class="col-sm-2">
            Pedido
        </dt>
        <dd class="col-sm-10">
            #@Model.IdPedido
        </dd>

        <dt class="col-sm-2">
            Platillo
        </dt>
        <dd class="col-sm-10">
            #@Model.IdPlatillo
        </dd>

        <dt class="col-sm-2">
            Cantidad
        </dt>
        <dd class="col-sm-10">
            @Model.Cantidad
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDetallePedido" />
        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
    </form>
</div>